<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/icons/happy_cookie.png" alt="happy cookie" width="45"> {{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-7"><app-fresh></app-fresh></div>
    <div class="col-5"><app-cart></app-cart></div>
  </div>
  <div class="row">
    <div class="col-7"><app-catalog></app-catalog></div>
    <div class="col-5"><app-orders></app-orders></div>
  </div>
</div>
<footer class="bg-light text-center">{{title}} patente pendiente(?</footer>