<div class="container-fluid text-center">
    <h1>Todos nuestos productos</h1>
    <p>Aca podes encargar cualquiera de nuestros productos</p>
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12" *ngFor="let sweet of catalog$|async">
            <div class="card my-2" style="width: 18rem;" >
                <img src="{{sweet.img_src}}" class="card-img-top" alt="{{sweet.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{sweet.name}}</h5>
                    <p class="card-text">{{sweet.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{sweet.type}}</li>
                    <li class="list-group-item">${{sweet.price}}</li>
                </ul>
                <div class="card-body">
                    <app-int-counter [(quantity)]=sweet.quantity [max]=10></app-int-counter>
                </div>
                <div class="list-group"><button class="btn-primary" routerLink="/work-in-progress">encargar!</button></div>
            </div>
        </div>
    </div>
</div>